[class*="span"],
.row-fluid [class*="span"] {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}
.span12,
.row-fluid .span12 {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#background {
    display: none;
}
